<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="renderer" content="webkit">
    <title>发布 - 短书</title>
    <link rel="stylesheet" type="text/css" href="local/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="local/icon.css">
    <link href="local/common.css" rel="stylesheet" type="text/css">
    <link href="local/link.css" rel="stylesheet" type="text/css">
    <link href="local/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="local/tomorrow.css">
    <script src="local/wangEditor.js"></script>
    <script src="local/wangEditorExt.js"></script>
    <script src="local/plugin.js"></script>
    <script src="local/jquery.2.js"></script>
    <script src="local/jquery.form.js"></script>
    <link rel="stylesheet" href="css/ElementIndex.css">
    <script src="js/ElementIndex.js"></script>
</head>
<body>
<div class="aw-top-menu-wrap">
    <div class="container" id="head">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href=""></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="" id="global_search_form"
                  method="post">
                <input type="text" name="question_content"
                       placeholder="搜索问题..."
                       class="form-control"
                       v-model="word"
                >
                <span title="搜索" id="global_search_btns" @click="routerToSearch()">搜索</span>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javaScript:;" @click="routerToTag()">首页</a></li>
                    <template v-for="(value,index) in TTagResults">
                        <template v-if="index <= 4 ">
                            <li>
                                <a href="javaScript:;" @click="routerToTag(value.tag)"><span>{{value.tag}}</span></a>
                            </li>
                        </template>
                    </template>
                    <template v-if="TTagResults.length > 4 ">
                        <li>
                            <a style="font-weight:bold;">更多</a>
                            <div class="dropdown-list pull-right">
                                <ul id="extensions-nav-list">
                                    <template v-for="(value,index) in TTagResults">
                                        <template v-if="index > 4 ">
                                            <li>
                                                <a href="javaScript:;" @click="routerToTag(value.tag)"><span>{{value.tag}}</span></a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                            </div>
                        </li>
                    </template>
                </ul>
            </nav>
        </div>
        <template v-if="userName == null">
            <div class="aw-user-nav">
                <!-- 登陆&注册栏 -->
                <a class="login btn btn-normal btn-primary" @click="routerToLogin">登录</a>
                <a class="register btn btn-normal btn-success" @click="routerToLogin">注册</a>
                <!-- end 登陆&注册栏 -->
            </div>
        </template>
        <template v-else>
            <!-- 用户栏 -->
            <div class="aw-user-nav">
                <!-- 登陆&注册栏 -->
                <a href="" class="aw-user-nav-dropdown">
                    <img :alt="userName" :src="path(TUserResult.logo)">{{userName}}
                </a>
                <div class="aw-dropdown dropdown-list pull-right">
                    <ul class="aw-dropdown-list">
                        <li><a href="javaScript:;" @click="routerToPerson(userName)">
                            个人主页<span
                                class="badge badge-important collapse" id="inbox_unread"
                                style="display: none;">0</span></a>
                        </li>
                        <li><a href="javaScript:;" @click="routerToSetting()">设置</a></li>
                        <li><a href="javaScript:;" @click="loginOut()">退出</a></li>
                    </ul>
                </div>
            </div>
            <!-- end 用户栏 -->
            <!-- 提问 -->
            <div class="aw-publish-btn">
                <a id="header_publish" class="btn-primary" href="javaScript:;"
                   @click="routerToPublish()">提问</a>
            </div>
            <!-- end 提问 -->
        </template>
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container aw-publish">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- tab 切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active">
                        <h2 class="hidden-xs">提问</h2>
                    </ul>
                    <!-- end tab 切换 -->
                    <form action="" method="post"
                          id="question_form" onsubmit="return false;">
                        <div class="aw-mod aw-mod-publish">
                            <div class="mod-body">
                                <h3>问题标题:</h3>
                                <div class="aw-publish-title" id="body">
                                    <div>
                                        <label class="oldPwdTip question_contents-label"></label>
                                        <input type="text" name="question_content" id="question_contents"
                                               placeholder="输入问题标题.."
                                               v-model="TQuestionsInsertParam.title"
                                               class="form-control">
                                        <div class="aw-publish-suggest-question collapse">
                                            <p class="text-color-999">你的问题可能已经有答案</p>
                                            <ul class="aw-dropdown-list">
                                            </ul>
                                        </div>
                                    </div>
                                    <h3>选择类别:</h3>
                                    <div class="aw-topic-bar active" data-type="publish">
                                        <div class="aw-edit-topic-box form-inline" style="display: block;">
                                            <select name="cars" v-model="TQuestionsInsertParam.tag">
                                                <template v-for="(value,index) in TTagResults">
                                                    <option v-if="index = 0 " :value="value.tag" selected="selected">
                                                        {{value.tag}}
                                                    </option>
                                                    <option v-else :value="value.tag">{{value.tag}}</option>

                                                </template>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <h3>问题补充 (选填):</h3>
                                <div class="aw-mod aw-editor-box">
                                    <div class="mod-head">
                                        <div class="wmd-panel">
                                            <textarea style="display: none;" id="wangcontent" rows="15"
                                                      name="question_detail"></textarea>
                                            <div id="wmd-input" id="context">


                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod-body">
                                        <span class="pull-right text-color-999"
                                              id="question_detail_message">&nbsp;</span>
                                    </div>
                                </div>


                            </div>

                            <div class="mod-footer clearfix">
                                <span class="aw-anonymity">
                                    <a id="saveDraft" data-type="question" onclick="save()">保存草稿</a></span>
                                <a class="btn btn-large btn-success btn-publish-submit" id="publish_submit"
                                   onclick="submit()">确认提问</a>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
                    <!-- 问题提问指南 -->
                    <div class="aw-mod publish-help">
                        <div class="mod-head">
                            <h3>问题提问指南</h3>
                        </div>
                        <div class="mod-body">
                            <p><b>• 问题标题:</b> 请用准确的语言描述您发布的问题思想</p>
                            <p><b>• 问题补充:</b> 详细补充问题内容, 这里提供富文本</p>
                            <p><b>• 选择类别:</b> 选择类别用于分类</p>
                        </div>
                    </div>
                    <!-- end 问题提问指南 -->
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="local/wangEditor.js"></script>
<script type="text/javascript" charset="utf-8" src="local/wangEditorExt.js"></script>
<script type="text/javascript" charset="utf-8" src="local/plugin.js"></script>
<script type="text/javascript" charset="utf-8" src="vueJs/vue.js"></script>
<link rel="stylesheet" href="css/ElementIndex.css">
<script src="js/ElementIndex.js"></script>
<script type="text/javascript" charset="utf-8" src="vueJs/axios.min.js"></script>
<script type="text/javascript" charset="utf-8" src="vueJs/api.js"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var $text1 = $('#wangcontent');
    var editor = new E('#wmd-input');
    editor.customConfig.onchange = function (html) {
        $text1.val(html)
    };
    editor.customConfig.onchange = function (html) {
        $text1.val(html)
    };
    editor.customConfig.codeType = {
        title: "选择代码类型:",
        type: [
            "C/C++", "Php", "C#", "Java", "Css", "Sql", "Html", "Bash/Shell"
        ]
    };
    editor.customConfig.uploadImgServer = uploadFile;
    editor.customConfig.onchangeTimeout = 200;
    editor.customConfig.uploadImgTimeout = 30000;
    editor.customConfig.uploadImgMaxSize = 10 * 1024 * 1024;
    editor.customConfig.uploadFileName = 'files';
    editor.customConfig.customUploadImg = function (files, insert) {
        var form = new FormData();
        files.forEach(file => form.append('files', file, file.name));
        axios.post(uploadFile, form)
            .then(function (res) {
                let response = res.data;
                if (response.code == 0) {

                    response.content.forEach(url => {
                        console.info(BASE_URL + url);
                        insert(BASE_URL + "/" + url);//插入图片
                    })
                } else {
                    console.info(response.msg)
                }
            }).catch(
            function (response) {
                console.info(response)
            });

    }

    editor.create();
    editor.txt.html($text1.val());
    E.attach.init('#wmd-input', "question");
    E.viewSource.init(editor);
</script>
<script>
    axios.defaults.withCredentials = true;
    var topHead = new Vue({
        el: "#head",
        data: {
            userId: null,
            userName: null,
            TTagResults: [{
                id: null,
                tag: null
            }],
            word: '',
            TUserResult: {
                id: null,
                name: null,
                password: null,
                salt: null,
                phone: null,
                email: null,
                status: null,
                createTime: null,
                updateTime: null,
                deleteFlag: null,
                approveStatus: null,
                blackListUser: null,
                logo: null,
                pvCount: null,
                signature: null
            },
        },
        computed: {
            path() {
                return function (value) {

                    if (value == null) {
                        return 'local/avatar-mid-img.png';
                    } else {

                        return BASE_URL + "/" + value;
                    }
                }
            }

        },
        methods: {
            routerToLogin() {
                //跳转携带参数
                window.open(WEBSTROM_BASE_URL + "/login.html?", '_self');
            },
            routerToPublish() {
                window.open(WEBSTROM_BASE_URL + "/publish.html", '_self');
            },
            routerToTag(tag) {
                //跳转携带参数
                let queryStr = "";
                if (tag) {
                    queryStr = queryStr + "tag=" + tag + "";
                }
                window.open(WEBSTROM_BASE_URL + "/index.html?" + queryStr, '_self');
            },
            routerToSetting() {
                //跳转携带参数
                window.open(WEBSTROM_BASE_URL + "/setting.html?", '_self');
            },
            routerToPerson(userNameView) {
                //跳转携带参数
                let queryStr = "";
                queryStr = queryStr + "userNameView=" + userNameView + "";
                window.open(WEBSTROM_BASE_URL + "/person.html?" + queryStr, '_self');
            },
            routerToSearch() {
                //跳转携带参数
                let queryStr = "";
                queryStr = queryStr + "word=" + this.word + "";
                window.open(WEBSTROM_BASE_URL + "/index.html?" + queryStr, '_self');
            },
            loginOut() {
                let self = this;
                axios.get(loginOut, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        if (response.content == true) {
                            self.$message({
                                type: 'success',
                                message: '退出成功',
                                duration: 1000
                            });
                            self.routerToLogin();
                        } else {
                            self.$message({
                                type: 'success',
                                message: '退出失败',
                                duration: 1000
                            });
                        }
                    } else {
                        self.$message({
                            type: 'error',
                            message: '退出异常' + response.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })

            }
        }
    });
</script>
<script>
    axios.defaults.withCredentials = true;
    var vue = new Vue({
        el: "#body",
        data: {
            userId: null,
            userName: null,
            questionId: null,
            /** 存储TQuestions插入结果*/
            TQuestionsInsertParam: {
                id: null,
                userName: null,
                title: null,
                content: null,
                tag: null,
                status: null,
                deleteFlag: null,
                blackFlag: null,
                createTime: null,
                updateTime: null
            },
            TTagQueryBaseParam: {
                id: null,
                tag: null
            },
            TTagResults: [{
                id: null,
                tag: null
            }],
            /** 存储TQuestions单个结果*/
            TQuestionsResult: {
                id: null,
                userId: null,
                title: null,
                content: null,
                status: null,
                deleteFlag: null,
                blackFlag: null,
                createTime: null,
                updateTime: null
            },
            /** 存储TQuestions主键更新*/
            TQuestionsUpdateByPrimaryKeyParam: {
                source: {
                    userName: null,
                    title: null,
                    content: null,
                    tag: null,
                    status: null,
                    deleteFlag: null,
                    blackFlag: null,
                    createTime: null,
                    updateTime: null,
                    pvCount: null,
                    isTop: null
                }
                ,
                target: {
                    id: null,
                }
            }
        },
        created() {
            var questionId = queryUrlParam('questionId')
            if (questionId) {
                this.questionId = questionId;
                this.TQuestionsInsertParam.id = questionId;
                this.queryTQuestionsByPrimaryKey(questionId);
            }
            this.getUserId();
            this.getUserName();
            this.queryBaseTTag()


        },
        methods: {
            /** 主键查询TQuestions */
            queryTQuestionsByPrimaryKey(id) {
                let self = this;
                axios.get(queryTQuestionsByPrimaryKey, {
                    params: {
                        id: id
                    }
                }).then(function (response) {
                    let data = response.data;
                    console.log(data);
                    if (data.code == 0) {
                        self.TQuestionsInsertParam = data.content;
                        self.TQuestionsInsertParam.content = base64Decode(data.content.content)
                        editor.txt.html(self.TQuestionsInsertParam.content);
                    } else {
                        alert(data.msg);
                    }
                }).catch(
                    function (response) {
                        //失败回调
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            },
            /** 插入TQuestions */
            insertTQuestions() {
                let self = this;
                if (self.userName == null) {
                    self.$message({
                        type: 'error',
                        message: '用户未登陆',
                        duration: 1000
                    });
                    return;
                }
                self.TQuestionsInsertParam.id = uuid();
                self.TQuestionsInsertParam.userName = self.userName;
                self.TQuestionsInsertParam.content = base64Encode(editor.txt.html());
                self.TQuestionsInsertParam.createTime = dateFormat("YYYY-mm-dd HH:MM:SS", new Date());
                self.TQuestionsInsertParam.updateTime = dateFormat("YYYY-mm-dd HH:MM:SS", new Date());
                axios.post(insertTQuestions, self.TQuestionsInsertParam)
                    .then(function (response) {
                        let data = response.data;
                        console.log(data);
                        if (data.code == 0) {
                            if (data.content == true) {
                                self.$message({
                                    type: 'success',
                                    message: '操作成功',
                                    duration: 1000
                                });
                            } else {
                                self.$message({
                                    type: 'error',
                                    message: '操作失败' + response.msg,
                                    duration: 1000
                                });
                            }
                        } else {
                            self.$message({
                                type: 'error',
                                message: '操作异常' + response.msg,
                                duration: 1000
                            });
                        }
                    }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            },
            /** 主键更新TQuestions */
            updateTQuestionsByPrimaryKey() {
                let self = this;
                if (self.userName == null) {
                    self.$message({
                        type: 'error',
                        message: '用户未登陆',
                        duration: 1000
                    });
                    return;
                }
                self.TQuestionsInsertParam.content = base64Encode(editor.txt.html());
                self.TQuestionsInsertParam.updateTime = dateFormat("YYYY-mm-dd HH:MM:SS", new Date());
                /**转换*/
                self.TQuestionsUpdateByPrimaryKeyParam.source = self.TQuestionsInsertParam;
                self.TQuestionsUpdateByPrimaryKeyParam.target.id = self.TQuestionsInsertParam.id;
                axios.post(updateTQuestionsByPrimaryKey, self.TQuestionsUpdateByPrimaryKeyParam)
                    .then(function (response) {
                        let data = response.data;
                        console.log(data);
                        if (data.code == 0) {
                            if (data.content == true) {
                                self.$message({
                                    type: 'success',
                                    message: '操作成功',
                                    duration: 1000
                                });
                            } else {
                                self.$message({
                                    type: 'error',
                                    message: '操作失败' + response.msg,
                                    duration: 1000
                                });
                            }
                        } else {
                            self.$message({
                                type: 'error',
                                message: '操作异常' + response.msg,
                                duration: 1000
                            });
                        }
                    }).catch(
                    function (response) {
                        //失败回调
                        console.error(response);
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            },
            getUserId() {
                let self = this;
                axios.get(getUserId, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        self.userId = response.content;
                        topHead.userId = response.content;

                        // self.$message({
                        //     type: 'success',
                        //     message: '查询成功',
                        //     duration: 1000
                        // });
                    } else {
                        self.$message({
                            type: 'error',
                            message: '查询异常' + response.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })


            }, getUserName() {
                let self = this;
                axios.get(getUserName, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        self.userName = response.content;
                        topHead.userName = response.content;
                        self.queryTUserByPrimaryKey(self.userName);//查询用户详细信息
                        // self.$message({
                        //     type: 'success',
                        //     message: '查询成功',
                        //     duration: 1000
                        // });
                    } else {
                        self.$message({
                            type: 'error',
                            message: '查询异常' + response.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })


            }, /** 多条件查询TTag */
            queryBaseTTag() {
                let self = this;
                axios.post(queryBaseTTag, self.TTagQueryBaseParam)
                    .then(function (res) {
                        let response = res.data;
                        if (response.code == 0) {
                            self.TTagResults = response.content;
                            topHead.TTagResults = response.content;
                            // self.$message({
                            //     type: 'success',
                            //     message: '查询成功',
                            //     duration: 1000
                            // });
                        } else {
                            self.$message({
                                type: 'error',
                                message: '查询异常' + response.msg,
                                duration: 1000
                            });
                        }
                    }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            },
            /** 主键查询TUser */
            queryTUserByPrimaryKey(name) {
                let self = this;
                axios.get(queryTUserByPrimaryKey, {
                    params: {
                        name: name
                    }
                }).then(function (response) {
                    let data = response.data;
                    console.log(data);
                    if (data.code == 0) {
                        topHead.TUserResult = data.content;
                    } else {
                        self.$message({
                            type: 'error',
                            message: '获取用户信息异常:' + data.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        console.info(response);
                        self.$message({
                            type: 'error',
                            message: '网络异常',
                            duration: 1000
                        });
                    })

            }

        }
    });

    /**
     * 发布
     */
    function submit() {
        vue.TQuestionsInsertParam.isSave = 1;
        vue.TQuestionsInsertParam.status = 0;
        vue.TQuestionsInsertParam.blackFlag = 0;
        if (vue.TQuestionsInsertParam.id) {
            QQ
            /**如果id不为空 -> 更新*/
            vue.updateTQuestionsByPrimaryKey();

        } else {
            vue.insertTQuestions();
        }
        topHead.routerToTag();
    }

    /**
     * 存为草稿
     */
    function save() {
        vue.TQuestionsInsertParam.isSave = 0;
        vue.TQuestionsInsertParam.status = 0;
        vue.TQuestionsInsertParam.blackFlag = 0;
        if (vue.TQuestionsInsertParam.id) {
            /**如果id不为空 -> 更新*/
            vue.updateTQuestionsByPrimaryKey();
        } else {
            vue.insertTQuestions();
        }
        // topHead.routerToTag();
    }
</script>
<style type="text/css">
    .w-e-toolbar {
        flex-wrap: wrap;
        -webkit-box-lines: multiple;
    }

    .w-e-toolbar .w-e-menu:hover {
        z-index: 10002 !important;
    }

    .w-e-menu {
        z-index: 1049;
    }

    .w-e-menu a {
        text-decoration: none;
    }

    .btn_viewSource img {
        width: 16px !important;
        height: 16px !important;
    }

    .markitup-box pre br {
        display: block
    }
</style>
<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2020<span class="hidden-xs"> - 短书ShortBook  All Rights Reserved</span>
    </div>
</div>


</div>

</body>
</html>