<!DOCTYPE html>
<html class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="renderer" content="webkit">
    <title>基本资料 - WeCenter</title>
    <base href=".">
    <link rel="stylesheet" type="text/css" href="local/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="local/icon.css">
    <link href="local/common.css" rel="stylesheet" type="text/css">
    <link href="local/link.css" rel="stylesheet" type="text/css">
    <link href="local/style.css" rel="stylesheet" type="text/css">
    <link href="local/user-setting.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="local/tomorrow.css">

    <script src="local/jquery.2.js" type="text/javascript"></script>
    <script src="local/jquery.form.js" type="text/javascript"></script>
    <link rel="stylesheet" href="local/layer.css" id="layuicss-layer">
    <link rel="stylesheet" href="local/laydate.css" id="layuicss-laydate">
</head>
<body>
<div class="aw-top-menu-wrap" id="top">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href=""></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="" id="global_search_form"
                  method="post">
                <input type="text" name="question_content"
                       placeholder="搜索问题..."
                       class="form-control"
                       v-model="word"
                >
                <span title="搜索" id="global_search_btns" @click="routerToSearch()">搜索</span>
            </form>
        </div>

        <!-- end 搜索框 -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javaScript:;" @click="routerToTag()">首页</a></li>
                    <template v-for="(value,index) in TTagResults">
                        <template v-if="index <= 4 ">
                            <li>
                                <a href="javaScript:;" @click="routerToTag(value.tag)"><span>{{value.tag}}</span></a>
                            </li>
                        </template>
                    </template>
                    <template v-if="TTagResults.length > 4 ">
                        <li>
                            <a style="font-weight:bold;">更多</a>
                            <div class="dropdown-list pull-right">
                                <ul id="extensions-nav-list">
                                    <template v-for="(value,index) in TTagResults">
                                        <template v-if="index > 4 ">
                                            <li>
                                                <a href="javaScript:;" @click="routerToTag(value.tag)"><span>{{value.tag}}</span></a>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                            </div>
                        </li>
                    </template>
                </ul>
            </nav>
        </div>

        <template v-if="userName == null">
            <div class="aw-user-nav">
                <!-- 登陆&注册栏 -->
                <a class="login btn btn-normal btn-primary" @click="routerToLogin">登录</a>
                <a class="register btn btn-normal btn-success" @click="routerToLogin">注册</a>
                <!-- end 登陆&注册栏 -->
            </div>
        </template>
        <template v-else>
            <!-- 用户栏 -->
            <div class="aw-user-nav">
                <!-- 登陆&注册栏 -->
                <a href="" class="aw-user-nav-dropdown">
                    <img :alt="userName" :src="path(TUserResult.logo)">{{userName}}
                </a>
                <div class="aw-dropdown dropdown-list pull-right">
                    <ul class="aw-dropdown-list">
                        <li><a href="javaScript:;" @click="routerToPerson(userName)">
                            个人主页<span
                                class="badge badge-important collapse" id="inbox_unread"
                                style="display: none;">0</span></a>
                        </li>
                        <li><a href="javaScript:;" @click="routerToSetting()">设置</a></li>
                        <li><a href="javaScript:;" @click="loginOut()">退出</a></li>
                    </ul>
                </div>
            </div>
            <!-- end 用户栏 -->
            <!-- 提问 -->
            <div class="aw-publish-btn">
                <a id="header_publish" class="btn-primary" href="javaScript:;"
                   @click="routerToPublish()">提问</a>
            </div>
            <!-- end 提问 -->
        </template>
        <!-- end 用户栏 -->
        <!-- 提问 -->
        <!-- end 提问 -->
    </div>
</div>

<div class="aw-container-wrap" id="body">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-user-setting">
                    <div class="tabbable">
                        <ul class="nav nav-tabs aw-nav-tabs active">
                            <h2><i class="icon icon-setting"></i> 用户设置</h2>
                        </ul>
                    </div>

                    <div class="tab-content clearfix">
                        <!-- 基本信息 -->
                        <div class="aw-mod">
                            <div class="mod-body">
                                <div class="aw-mod mod-base">
                                    <div class="mod-head">
                                        <h3>基本信息</h3>
                                    </div>
                                    <form id="setting_form" method="post">
                                        <div class="mod-body">
                                            <dl>
                                                <dt>用户名称:</dt>
                                                <dd>{{TUserResult.name}}
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>邮箱:</dt>
                                                <dd>{{TUserResult.email}}
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><label>介绍:</label></dt>
                                                <dd class="introduce"><input class="form-control" name="signature"
                                                                             v-model="TUserResult.signature"
                                                                             maxlength="128" type="text" value=""></dd>
                                            </dl>
                                            <!-- 上传头像 -->
                                            <div class="side-bar">
                                                <dl>
                                                    <dt class="pull-left"><img class="aw-border-radius-5" width="100"
                                                                               height="100"
                                                                               :src="path(TUserResult.logo)"
                                                                               alt="" id="avatar_src"></dt>
                                                    <dd class="pull-left">
                                                        <h5>头像设置</h5>
                                                        <p>支持 jpg、gif、png 等格式</p>
                                                        <a class="btn btn-mini btn-success" id="avatar_uploader"
                                                           href="javaScript:;" @click="easyUpload()">
                                                            上传头像</a>
                                                        <span id="avatar_uploading_status"
                                                              class="collapse"><i
                                                                class="aw-loading"></i> 文件上传中...</span>
                                                        <br><br>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <!-- end 上传头像 -->
                                        </div>
                                    </form>
                                </div>
                                <!-- end 基本信息 -->

                                <!-- 联系方式 -->
                                <div class="aw-mod mod-contact">
                                    <div class="mod-head">
                                        <h3>信息</h3>
                                    </div>
                                    <div class="mod-body clearfix">
                                        <ul>
                                            <li>
                                                <label for="input-qq">注册时间:</label>
                                                <input class="form-control" type="text" id="input-qq" name="qq"
                                                       v-model="TUserResult.createTime" disabled>
                                            </li>
                                            <li>
                                                <label for="input-mobile">手机号码:</label>
                                                <input class="form-control" type="text" id="input-mobile" name="mobile"
                                                       v-model="TUserResult.phone">
                                            </li>
                                            <li>
                                                <label for="input-common-email">logo:</label>
                                                <input class="form-control" type="text" id="input-common-email"
                                                       v-model="TUserResult.logo" name="common_email" value="" disabled>
                                            </li>
                                            <li class="pull-right">
                                                <a class="btn btn-success"
                                                   href="javaScript:;" @click="save()">
                                                    保存</a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <!-- end 联系方式 -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2020<span class="hidden-xs"> - 短书ShortBook  All Rights Reserved</span>
    </div>
</div>
</div>
<script type="text/javascript" charset="utf-8" src="vueJs/vue.js"></script>
<link rel="stylesheet" href="css/ElementIndex.css">
<script src="js/ElementIndex.js"></script>
<script type="text/javascript" charset="utf-8" src="vueJs/axios.min.js"></script>
<script type="text/javascript" charset="utf-8" src="vueJs/api.js"></script>
<script>
    axios.defaults.withCredentials = true;
    var topHead = new Vue({
        el: "#top",
        data: {
            userId: null,
            userName: null,
            TTagResults: [{
                id: null,
                tag: null
            }],
            word: '',
            TUserResult: {
                id: null,
                name: null,
                password: null,
                salt: null,
                phone: null,
                email: null,
                status: null,
                createTime: null,
                updateTime: null,
                deleteFlag: null,
                approveStatus: null,
                blackListUser: null,
                logo: null,
                pvCount: null,
                signature: null
            },
        },
        computed: {
            path() {
                return function (value) {

                    if (value == null) {
                        return 'local/avatar-mid-img.png';
                    } else {

                        return BASE_URL + "/" + value;
                    }

                }
            }
        },
        methods: {
            routerToLogin() {
                window.open(WEBSTROM_BASE_URL + "/login.html?", '_self');
            },
            routerToTag(tag) {
                //跳转携带参数
                let queryStr = "";
                if (tag) {
                    queryStr = queryStr + "tag=" + tag + "";
                }
                window.open(WEBSTROM_BASE_URL + "/index.html?" + queryStr, '_self');
            },
            routerToPublish() {
                window.open(WEBSTROM_BASE_URL + "/publish.html", '_self');
            },
            routerToPerson(userNameView) {
                //跳转携带参数
                let queryStr = "";
                queryStr = queryStr + "userNameView=" + userNameView + "";
                window.open(WEBSTROM_BASE_URL + "/person.html?" + queryStr, '_self');
            },
            routerToSetting() {
                //跳转携带参数
                window.open(WEBSTROM_BASE_URL + "/setting.html?", '_self');
            },
            routerToSearch() {
                //跳转携带参数
                let queryStr = "";
                queryStr = queryStr + "word=" + this.word + "";
                window.open(WEBSTROM_BASE_URL + "/index.html?" + queryStr, '_self');
            },
            loginOut() {
                let self = this;
                axios.get(loginOut, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        if (response.content == true) {
                            self.$message({
                                type: 'success',
                                message: '退出成功',
                                duration: 1000
                            });
                            self.routerToLogin();
                        } else {
                            self.$message({
                                type: 'success',
                                message: '退出失败',
                                duration: 1000
                            });
                        }
                    } else {
                        self.$message({
                            type: 'error',
                            message: '退出异常' + response.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            }
        }
    });
</script>
<script>
    axios.defaults.withCredentials = true;
    var vue = new Vue({
        el: "#body",
        data: {
            userId: null,
            userName: null,
            uploadFile: null,
            /** 存储TQuestions插入结果*/
            TQuestionsInsertParam: {
                id: null,
                userName: null,
                title: null,
                content: null,
                tag: null,
                status: null,
                deleteFlag: null,
                blackFlag: null,
                createTime: null,
                updateTime: null
            },
            TTagQueryBaseParam: {
                id: null,
                tag: null
            },
            TTagResults: [{
                id: null,
                tag: null
            }],
            /** 存储TUser单个结果*/
            TUserResult: {
                id: null,
                name: null,
                password: null,
                salt: null,
                phone: null,
                email: null,
                status: null,
                createTime: null,
                updateTime: null,
                deleteFlag: null,
                approveStatus: null,
                blackListUser: null,
                logo: null,
                pvCount: null,
                signature: null
            },
            /** 存储TUser主键更新*/
            TUserUpdateByPrimaryKeyParam: {
                source: {
                    id: null,
                    password: null,
                    salt: null,
                    phone: null,
                    email: null,
                    status: null,
                    createTime: null,
                    updateTime: null,
                    deleteFlag: null,
                    approveStatus: null,
                    blackListUser: null,
                    logo: null,
                    pvCount: null,
                    signature: null
                }
                ,
                target: {
                    name: null,
                }
            }
        },
        computed: {
            path() {
                return function (value) {

                    return BASE_URL + "/" + value;

                }
            }
        }
        ,
        created() {
            this.uploadFile = uploadFile;
            this.getUserId();
            this.getUserName();
            this.queryBaseTTag()
        },
        methods: {

            getUserId() {
                let self = this;
                axios.get(getUserId, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        self.userId = response.content;
                        topHead.userId = response.content;
                        // self.$message({
                        //     type: 'success',
                        //     message: '查询成功',
                        //     duration: 1000
                        // });
                    } else {
                        // self.$message({
                        //     type: 'error',
                        //     message: '查询异常' + response.msg,
                        //     duration: 1000
                        // });
                        console.info("用户未登录");
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })


            }, getUserName() {
                let self = this;
                axios.get(getUserName, {}).then(function (res) {
                    let response = res.data;
                    if (response.code == 0) {
                        self.userName = response.content;
                        topHead.userName = response.content;
                        self.queryTUserByPrimaryKey(self.userName);//查询用户详细信息
                        // self.$message({
                        //     type: 'success',
                        //     message: '查询成功',
                        //     duration: 1000
                        // });
                    } else {
                        // self.$message({
                        //     type: 'error',
                        //     message: '查询异常' + response.msg,
                        //     duration: 1000
                        // });
                        console.info("用户未登录");
                    }
                }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })


            }, /** 多条件查询TTag */
            queryBaseTTag() {
                let self = this;
                axios.post(queryBaseTTag, self.TTagQueryBaseParam)
                    .then(function (res) {
                        let response = res.data;
                        if (response.code == 0) {
                            self.TTagResults = response.content;
                            topHead.TTagResults = response.content;
                            // self.$message({
                            //     type: 'success',
                            //     message: '查询成功',
                            //     duration: 1000
                            // });
                        } else {
                            self.$message({
                                type: 'error',
                                message: '查询异常' + response.msg,
                                duration: 1000
                            });
                        }
                    }).catch(
                    function (response) {
                        self.$message({
                            type: 'error',
                            message: '网络异常，请检查服务',
                            duration: 1000
                        })
                    })
            },
            easyUpload() {
                let self = this;
                var input = document.createElement("input");
                input.type = "file";
                input.click();
                input.onchange = function () {
                    var file = input.files[0];
                    var form = new FormData();
                    form.append("files", file); //第一个参数是后台读取的请求key值
                    var xhr = new XMLHttpRequest();
                    var action = uploadFile; //上传服务的接口地址
                    xhr.open("POST", action);
                    xhr.send(form); //发送表单数据
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var resultObj = JSON.parse(xhr.responseText);
                            console.info(resultObj);
                            self.TUserResult.logo = resultObj.content[0];
                        }
                    }
                }
            },
            /** 主键查询TUser */
            queryTUserByPrimaryKey(name) {
                let self = this;
                axios.get(queryTUserByPrimaryKey, {
                    params: {
                        name: name
                    }
                }).then(function (response) {
                    let data = response.data;
                    console.log(data);
                    if (data.code == 0) {
                        self.TUserResult = data.content;
                        topHead.TUserResult = data.content;
                    } else {
                        self.$message({
                            type: 'error',
                            message: '获取用户信息异常:' + data.msg,
                            duration: 1000
                        });
                    }
                }).catch(
                    function (response) {
                        console.info(response);
                        self.$message({
                            type: 'error',
                            message: '网络异常',
                            duration: 1000
                        });
                    })
            },

            /** 主键更新TUser */
            updateTUserByPrimaryKey() {
                let self = this;
                axios.post(updateTUserByPrimaryKey, self.TUserUpdateByPrimaryKeyParam)
                    .then(function (response) {
                        let data = response.data;
                        console.log(data);
                        if (data.code == 0) {
                            if (data.content == true)
                                self.$message({
                                    type: 'success',
                                    message: '更新成功:',
                                    duration: 1000
                                });
                        } else {
                            self.$message({
                                type: 'error',
                                message: '更新异常:' + data.msg,
                                duration: 1000
                            });
                        }
                    }).catch(
                    function (response) {
                        console.info(response);
                        self.$message({
                            type: 'error',
                            message: '网络异常',
                            duration: 1000
                        });
                    })
            },
            save() {
                let self = this;
                self.TUserUpdateByPrimaryKeyParam.source.updateTime = dateFormat("YYYY-mm-dd HH:MM:SS", new Date());
                self.TUserUpdateByPrimaryKeyParam.source.signature = self.TUserResult.signature;
                self.TUserUpdateByPrimaryKeyParam.source.phone = self.TUserResult.phone;
                self.TUserUpdateByPrimaryKeyParam.source.logo = self.TUserResult.logo;
                self.TUserUpdateByPrimaryKeyParam.target.name = self.TUserResult.name;
                self.updateTUserByPrimaryKey();
                self.rot
            }

        }
    });

</script>
</body>
</html>